.destination {
  margin: 4rem 6rem;
}
.tagline{
    font-size: 1.3rem;
}
.first-desc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}
.des-text{
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}
.des-text h3{
  padding-bottom: 1rem;
}
.image{
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}
.image img{
  
}



@media screen and (max-width: 555px) {
  .destination {
    margin: 2rem 2.5rem;
  }
  .tagline{
    font-size: 1.1rem;
}
}
