.NavbarItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 2.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
}

.navbar-logo{
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}